.input-wrapper {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-top: 10px;
    padding-inline: 10px;
}

.input-wrapper input[name="searchValue"] {
    outline: none;
    border: none !important;
}

.input-wrapper .search-wrapper {
    max-width: 600px;
    position: relative;

}

.filtered-results {
    position: absolute;
    top: 120%;
    left: 0px;
    width: 100%;
}